<div class="related-card-wrapper">
  {% for key,item in items %}
    <div class="card-item">
    	<div class="image-wrapper">
    		<img src="{{ item.image_url }}" />
    	</div>
    	<div class="text-wrapper">
    		<div class="date">{{ item.date }}</div>
            <h3>{{ item.title }}</h3>
    		<a class="btn" href="{{ item.node_link }}">Detail</a>
    	</div>
    </div>
  {% endfor%}
</div>