{{ page.banner }}

<div class="main-node-section">
	<div class="container">
		<div class="main-node-wrapper">
			<div class="node-details">
				{{ page.content.voxteneo_page_title }}
				{{ page.content.voxteneo_content }}
			</div>
			<div class="related-article">
				{{ page.content.relatedarticleblock }}
			</div>
		</div>
	</div>
</div>